<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
<ul>
<li>List popular languages for Data Science</li>
<li>List the commonly used libraries used by Data Scientists include:</li>
<li>Some of Arithmetic expressions</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>R</li>
<li>Python</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Matplotlib</li>
<li>Pandas</li>
<li>Numpy</li>
</ol>

| Data Science Tools| 
| -------- | 
| Weka  |
| Scrapy |
| Pandas    |

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
mins = 200
h = mins / 60
print(h)

3.3333333333333335

<h2>Author<h2>

Van  Tien Nguyen